@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar{
    background-color: #F6F6F6;
}
.navbar-nav{
    float: right;
    margin-left: 50%;
}
.image{
    width: 70%;
}
.first-frame{
    margin-top: 10px;
    padding: 50px;
}
.first-name{
    font-weight: 600;
}
.special-name{
    color: #EE4248;
}
.fa-angle-down{
    margin-left:8px;
}
.btn{
    background-color: #EE4248;
    color: #F6F6F6;
}
.welcome-frame{
    background-color:  #F6F6F6;
}
.welcome-name{
    padding-top: 20px;
    height: auto;
    width: auto;
    left: 728px;
    top: 57px;
    border-radius: nullpx;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}
.welcome-para{
    padding: 20px;
    height: auto;
    width: auto;
    left: 728px;
    top: 167px;
    border-radius: nullpx;
    margin-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:gray;
}
.products{
    padding: 40px;
}
.prod-para{
    width: 100%;
}
.pands{
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F2E35;
}
.contact-section{
    margin-top: 3%;
    line-height: 6px;
    padding: 20px;
}
.contact-section-head{
    font-weight: bold;
    margin-bottom: 30px;
}
.footer{
    background-color:  #EE4248;
    color: white;
    padding: 5px;
    width: 100%;
}

@media (min-width:300px) and (max-width:500px){
    body{
        text-align: center;
    }
}
